body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Istok Web', sans-serif;
}

.header{
    width: auto;
}
.header-container {
    width: auto;
   background: #F2F2F2; 
}

.header-container .main-header {
    width: 90em;
    padding-top:12px;
    padding-bottom: 10px;
    margin:auto;
}

.sub-header{
    width: auto;
    margin-top:28px;
    margin-bottom:25px;
}
.sub-header .main-header{
    width: 90em;
    margin:auto;
}
.left-info {
    width: 9.49994444%;
    float: left;
    margin-left:80px;
}

.right-header-content{
    width:37.4016666667%;
    float:right;
}
.main-container2{
    width: 90em;
    margin: 0 auto;
}

.main-container {
   
    overflow: hidden;
    height: 692px;
    position: relative;
}    
.header-right{
    float:left;
    width:21.875%;
    margin-right:21px;
    margin-top:12px;
    margin-left:200px;
    display:inline;
  
}
.header-right .social-options-header li{
    margin-right:7px;
   
}
.main-container{
    margin-bottom:66px;
}

.container{
    width:90em;
}

.container-handpicked{
    width:90em; 
    margin: auto;

}
.main-handpicked-container{
    margin: auto;
}
 .sub-container-first{
margin-right:14px;
margin-left: 108px;
display:inline-block;
}

.sub-container-second{
    margin-right:14px;
    margin-top:20px;
    display:inline-block;
    }
     .sub-container-third{
        margin-right:10px;
        display:inline-block;
        }
.site-info{
    width:89.5833333333%;
    margin:auto;
    padding-left:75px;
    padding-right:75px;
    /* position:relative; */
}
.support-col{
    width:100%;
    
   display:flex;
}
.support-col li{
    width:31.25%;
  
}

.support-item_shipping {
    flex:31.19388;
    
    background-size: contain; 
	/* padding-left: 98px; */
	background-image: url("../images/support-left.png");
}
.support-item_return {
    flex:32.25; 
    /* padding-left: 119px; */
    background-size: contain; 
    /* padding-left: 28.0702%; */
	background-image: url("../images/support-center.png");
}
.support-item_support {
    padding-left: 28px;
    /* padding-left: 140px; */
    flex:29.819444;
	background-image: url("../images/support-right.png");
}
.support-item {
	padding-top: 13px;
    padding-bottom:60px;
    
	color: #fff;
	background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    
}
.featured-item{
    margin-bottom: 3.25%;
}
.title-super{
    width:auto;
}

.title {
    width:90em;
    margin:auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	}
    .brands__title {
        margin-bottom: 61px;
    }
.container {
	display: block;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: 75px;
}
.title-container {
   
}
.container {
	display: flex;
	margin: 0 auto;
	margin-left: 75px;
    margin-right: 75px;
    
}

.summer-collection-container {
    padding-top: 28px;
    margin: auto;
}
.summer-collection-container {
   width:70em;
   padding-left: 75px;
   padding-right: 75px;
}
.collection {
	display: block;
    margin: 0 auto;
    margin-top:5px;
	padding-left: 75px;
	padding-right: 75px;
}


.products {
    margin-top: 0;
    padding: 15px 15px 0px 15px;
    border: 1px solid #f2f2f2;
}
.collection-column{
    display:inline-block;
}
.collection-list li{
    margin-bottom: 15px;
}
.collection-list{
    width: 24.8095%;
margin-right:15px;
}

.product-sale {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 2.73em;
	height: 2.73em;
	max-width: 60px;
	max-height: 60px;
	padding: 3.33%;
	font-size: 22px;
	line-height: 1.8182;
	color: #fff;
	text-align: right;
	white-space: nowrap;
	background-color: #feb42e;
	border-radius: 50%;
}
.our-brands-container .container-main {
	display: block;
	
	margin: 0 auto;
	
}
.container-main .container{
    width:70em;
    padding-left: 75px;
	padding-right: 75px;
}
.col-1-6 {
	width: 16.066666666%;
}
.brands__column {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.brand {
	width: 100%;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
}
.main__row_testimonials {
    padding-top: 89px;
   

}

.testimonials__title {
	padding-bottom: 55px;
}

.testimonials__container {

    margin: 0 auto;
   display:block;
   background-color: #d9bf8f;
   
}
.testimonials__container .inner-container{
    width:70em;
    padding-left: 75px;
    padding-right: 75px;
}
.layout-columns  {
    width: 50%;
    display: inline-block
}
.testimonial {
	display: block;
	padding-top: 1.875em;
	padding-bottom: 3.125em;
}
.testimonial__photo-wrapper {
	position: relative;
	float: left;
	width: 39.3798%;
	padding-top: 49.6124%;
}
.testimonial__photo {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.testimonial__body-wrapper {
	position: relative;
	float: right;
	width: 60.6202%;
	padding-top: 49.6124%;
}
.testimonial__body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.footer {
	display: block;
	margin: 0 auto;
	padding-bottom: 40px;
	color: #6a6a6a;
	background-color: #000;
}
.footer-container{
    width:70px;
}
.footer__block_top {
	position: relative;
	padding-top: 3.68em;
	padding-bottom: 3.44em;
	background-color: #141414;
}
.footer__container {
	display: flex;

	margin: 0 auto;
	padding-left: 75px;
	padding-right: 75px;
}
.menu-group {
	display: inline-block;
	margin-right: 8.062%;
	padding-left: 8px;
	padding-right: 8px;
}
.menu-group__title {
	margin-bottom: 2.375em;
	font-weight: 700;
	line-height: 1.875;
	color: #fff;
	text-transform: uppercase;
}
.list {
	display: block;
	list-style: none;
}
.menu-group__item {
	font-size: 0.875em;
	line-height: 2.1429;
	color: #6a6a6a;
}
a {
	text-decoration: none;
}
.social .social__item{
    display: inline-block
}
.form {
	margin-top: 48px;
	margin-left: 3px;
	padding: 4px;
	border: 1px solid #363636;
}
.form__input {
	width: 20.66em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 0.75em;
	color: #363636;
	background-color: #141414;
	border: none;
}
.form__button {
	padding: 0.75em 1.42em;
	font-size: 0.75em;
	color: #fff;
	background-color: #363636;
}
.button {
	display: inline-block;
	
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid transparent;
	cursor: pointer;
	
}
.footer__block_bottom {
	padding-top: 1.56em;
	padding-bottom: 4.87em;
	color: #363636;
	background-color: #141414;
}
.footer__block_bottom .container {
	display: block;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: 75px;
}
.copyright {
	font-size: 11px;
	line-height: 1.6364;
	color: #6a6a6a;
}

.arrow-up {
	float: right;
	width: 40px;
	height: 40px;
	margin-top: -2.18em;
	margin-right: 3px;
	background-color: #000;
	
}
.payments__item {
	display: inline-block;
	margin-right: 1.56em;
	line-height: 1.69em;
}
