body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Istok Web', sans-serif;
}

.header{
    width: auto;
}
.header-container {
    width: auto;
   background: #F2F2F2; 
}

.header-container .main-header {
    width: 90em;
    padding-top:12px;
    padding-bottom: 10px;
    margin:auto;
}

.sub-header{
    width: auto;
    margin-top:28px;
    margin-bottom:25px;
}
.sub-header .main-header{
    width: 90em;
    margin:auto;
}
.left-info {
    width: 9.49994444%;
    float: left;
    margin-left:80px;
}

.right-header-content{
    width:37.4016666667%;
    float:right;
}
.main-container2{
    width: 90em;
    margin: 0 auto;
}

.main-container {
   
    overflow: hidden;
    height: 692px;
    position: relative;
}    
.header-right{
    float:left;
    width:21.875%;
    margin-right:21px;
    margin-top:12px;
    margin-left:200px;
    display:inline;
  
}
.header-right .social-options-header li{
    margin-right:7px;
   
}
.main-container{
    margin-bottom:66px;
}

.container{
    width:90em;
}

.container-handpicked{
    width:90em; 
    margin: auto;

}
.main-handpicked-container{
    margin: auto;
}
 .sub-container-first{
margin-right:14px;
margin-left: 108px;
display:inline-block;
}

.sub-container-second{
    margin-right:14px;
    margin-top:20px;
    display:inline-block;
    }
     .sub-container-third{
        margin-right:10px;
        display:inline-block;
        }
.site-info{
    width:89.5833333333%;
    margin:auto;
    padding-left:75px;
    padding-right:75px;
    /* position:relative; */
}
.support-col{
    width:100%;
    
   display:flex;
}
.support-col li{
    width:31.25%;
  
}

.support-item_shipping {
    flex:31.19388;
    
    background-size: contain; 
	/* padding-left: 98px; */
	background-image: url("../images/support-left.png");
}
.support-item_return {
    flex:32.25; 
    /* padding-left: 119px; */
    background-size: contain; 
    /* padding-left: 28.0702%; */
	background-image: url("../images/support-center.png");
}
.support-item_support {
    padding-left: 28px;
    /* padding-left: 140px; */
    flex:29.819444;
	background-image: url("../images/support-right.png");
}
.support-item {
	padding-top: 13px;
    padding-bottom:60px;
    
	color: #fff;
	background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    
}
.featured-item{
    margin-bottom: 3.25%;
}
.title-super{
    width:auto;
}

.title {
    width:90em;
    margin:auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 41px;
	}

.container {
	display: block;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: 75px;
}
.title-container {
   
}
.container {
	display: flex;
	margin: 0 auto;
	margin-left: 75px;
    margin-right: 75px;
    
}

.summer-collection-container {
    padding-top: 28px;
    margin: auto;
}

.collection {
	display: block;
    margin: 0 auto;
    margin-top:5px;
	padding-left: 75px;
	padding-right: 75px;
}
.container-collection{
    width:70em;
}

.products {
    margin-top: 0;
    
    padding: 15px 15px 0;
    border: 1px solid #f2f2f2;
}
