
@font-face {
    font-family: Playfair Display;
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot");
    src: local(Playfair Display), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff") format('woff'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff2") format('woff2'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot?#iefix") format('embedded-opentype'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.ttf") format('truetype'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.svg#PlayfairDisplay_italic") format('svg');
    font-style: italic;
    font-weight: lighter;
  }
 
  @font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato_regular.eot");
    src: local(Lato), url("../fonts/Lato/Lato_regular.woff") format('woff'), url("../fonts/Lato/Lato_regular.woff2") format('woff2'), url("../fonts/Lato/Lato_regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato/Lato_regular.ttf") format('truetype'), url("../fonts/Lato/Lato_regular.svg#Lato_regular") format('svg');
    font-style: normal;
    font-weight: lighter;
  }

.right-header-content options {
    font-size: 11px;
    color: black;
    font-family:"Playfair Display";
}

.right-header-content .options li {
    display: inline;
    font-size: 12px;
}
.bottom-left-header-content{
    float:left;
    margin-top:14px;
    margin-left:80px;   
    
}
.bottom-left-header-content options-bot {
    margin-left: 2.5px;
    color: black;
}

.bottom-left-header-content .options-bot li {
    display: inline;
    font-size: 18px;
    margin-right:18px;   
}

.options li :hover {
    color: white;
}
.phn-img{
    float:left;
}

.options li a {
    color: black;
    font-family: "Lato"
}
.options-bot li a {
    color: black;
    font-family: "Playfair Display"
}


.phn-no{
    font-size: 12px;
    float:left;
    margin-left: 14px;
}

.logo{
    display:inline;  
    float:left;
    margin-left:230px;
  }
a {
    text-decoration: none
}

ul {
    list-style: none;
}

.slider {
    width: 7000px;
    list-style: none;
    position: absolute;

}
.triangle-img{
    position:absolute;
    margin-left:538px;  
}

.slider li {
    float: left;
}
.navigation-li {
    height: 20px;
    width: 20px;
    margin-right:9px;
    display: inline-block;
    background-image: url("../images/nav-black.png");
}

.navigation-li-active {
    height: 20px;
    width: 20px;
    margin-right:9px;
    display: inline-block;
    background-image: url("../images/nav-white.png");
}
.header-right .social-options-header li {
    display: inline;
    line-height: 31px;
}
.social-options-header{
    display:inline;
   
}   
button{
    float:right; 
    margin-right:9px;
    widows: 20.87%
}

.list {
	display: block;
	list-style: none;
}
.currency-selector-list {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.currency-selector-value_display_block {
	display: block;
}

.support-icon_shipping {
	left: 7.4419%;
	width: 38px;
	height:38px;
	max-width: 38px;
	max-height: 38px;
	background-image: url("../images/shipping.png");
}
.support-text {
	font-size: 29px;
	font-weight: 600;
    line-height: 1.6;
    font-family:Lato;
    margin-right:110px;
   
    float:right;
	text-transform: uppercase;
}
.support-text_sm {
	padding-left: 5px;
    font-size: 14px;
    font-family:Lato;
    float:right;
    margin-right:185px;
   
	line-height: 1.7143;
	text-transform: capitalize;
}
.support-icon_shipping {
	width: 2.37em;
    height: 2.37em;
    display: inline-block;
    max-width: 38px;
    margin-left:32px;   
    margin-top:12px;
	max-height: 38px;
	background-image: url("../images/shipping.png");
}
.support-icon_return {
	/* left: 14.4737%; */
    width: 2.56em;
    display: inline-block;
	height: 2.62em;
    max-width: 41px;
	max-height: 42px;
	background-image: url("../images/return.png");
}
.support-icon_support {
	top: 1.37em;
	/* left: 15.3488%; */
    width: 3em;
    display: inline-block;
	height: 3.06em;
	max-width: 48px;
	max-height: 49px;
	background-image: url("../images/support.png");
}
.support-icon {
	/* position: absolute; */
	top: 1.67em;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.featured-col{
    width: 31.0078%;
}
.container {
	display: block;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: 75px;
}

.title-text {
	
	padding-left: 10px;
	padding-right: 170px;
	font-family: 'Playfair Display', serif;
	font-size: 29.6px;
	font-style: italic;
	line-height: 34px;
	font-weight: 700;
    background: url("../images/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: auto;
}
