body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Istok Web', sans-serif;
}

.user-name {
    font-size: 16px;
    text-align: right;
}

.images {
    float: right;
    width: 6.1544773823%;
    margin-right: 12px;
    background-position: center;
}

.image-pad {
    margin-top: 14px;
}

.options {
    margin-left: 2.5px;
    font-size: 12px;
    color: black;
}

.options li {
    display: inline;
    font-size: 12px;
}

/* header part*/

.app-name {
    width: 38.144329%;
    float: left;
}

.bot-left {
    margin-top: 5px;
}

.list-items {
    font-size: 11px;
}

.nav-text {
    width: 71.8022361268%;
    float: left;
}

.list-item-specific {
    background-color: #f5f5f5;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 4px;
    width: 100%;
    color: #292929;
}

.list-item-specific:hover {
    background-color: #fff;
    cursor: pointer;
}

.footer-left ul:hover {
    cursor: pointer;
}

.author-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.options li :hover {
    color: white;
}

a {
    text-decoration: none
}

.bottom-nav-ul a {
    color: black;
}

.description a {
    color: #88c6d3;
}

.content-header {
    border: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.content-header a {
    color: #000;
}

.source-movies:hover {
    cursor: pointer;
    text-decoration: underline;
}

.right-navigation a, .list-items a {
    color: #000;
}

.header-notification li {
    cursor: pointer;
}

.bottom-nav-ul li {
    cursor: pointer;
}

.top-nav-li {
    cursor: pointer;
}

.bottom-nav-ul-bot:hover {
    cursor: pointer;
}

.content-header:hover {
    text-decoration: underline;
    color: #000;
}

ul {
    list-style: none;
}

.notice-urgent:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.input {
    background-repeat: no-repeat;
    width: 79.761904%;
    height: 20px;
    padding-left: 5px;
    padding-right: 4px;
    font-size: 10px;
    float: left;
    background: url('../images/search_input.png');
    background-color: transparent;
    border: 0;
}

.entries {
    padding: 0px;
    margin-bottom: 5px;
    border: 0px;
    line-height: 27px;
    font-size: 27px;
}

.button {
    padding: 3px 5px 4px 4px;
    background-repeat: no-repeat;
    width: 15.773809%;
    height: 20px;
    float: right;
    font-size: 10px;
    background: url('../images/search_button.png');
    background-color: transparent;
    color: #fff;
    border: none;
}

.options {
    float: left;
}

.author-name {
    color: #88c6d3
}

.source-movies {
    color: #88c6d3
}

.notice {
    color: #88c6d3;
    font-size: 10px;
    line-height: 10px;
}

.notice:hover {
    color: #88c6d3;
    text-decoration: underline;
    cursor: pointer;
}

.details4 h3 {
    margin-top: 8px;
}

.details4 span {
    line-height: 5px;
}

.notice-urgent {
    color: red;
    font-size: 10px;
    line-height: 10px;
}

.subscribed a {
    color: #70961f
}

.subscribed:hover {
    text-decoration: underline;
    color: #70961f;
    cursor: pointer;
}

.notification-inactive {
    color: gray
}

.bottom-li1 {
    padding-left: 28px;
    color: #fff;
}

.bottom-li2 {
    padding-left: 75px;
    color: #474747;
}

.bottom-li3 {
    padding-left: 85px;
    color: #474747;
}

.bottom-li4 {
    padding-left: 44px;
    color: #474747;
}

.bottom-nav-ul {
    display: flex;
    float: left;
    margin-left: 15px;
}

.bottom-nav-ul-bot {
    line-height: 21px;
    width: 150%;
    display: flex;
}

.top-nav-ul {
    display: flex;
}

.top-nav-li {
    padding: 2px;
    margin: 2px;
}

.bottom-nav-ul-bot li {
    /* margin-right: 30px; */
    font-size: 12px;
}

.bottom-nav-li {
    margin-right: 28px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.options a {
    color: black;
}

.profile-image {
    position: relative;
    top: 0;
    left: 0;
}

.profile {
    position: relative;
    padding-top: 7px;
    top: 0;
    left: 0;
}

.profile1 {
    position: relative;
    top: 0;
    left: 0;
}

.round-frame {
    position: absolute;
    top: 0;
    padding-top: 7px;
    left: 0;
}

.round-frame1 {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-nav-li-last {
    margin-right: 0px;
}

.bottom-nav-li a:hover {
    color: #88c6d3
}

.bottom-nav-li-bot:hover {
    color: white;
}

.tab-li1 {
    font-size: 14px;
    margin-left: 94px;
    color: #474747;
    line-height: 37px;
}

.tab-li2 {
    font-size: 14px;
    margin-left: 189px;
    color: #474747;
    line-height: 37px;
}

.main-content-info {
    width: 100%;
    margin-top: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.main-content-info1 {
    width: 100%;
    margin-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
}

.navigation-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    font-size: 16px;
    width: 101%;
    background-color: #2fc1da;
    color: #fff;
}

img {
    float: left
}

/*footer part*/

.footer-left li {
    float: left;
    list-style: none;
}

.footer-left li a {
    color: white;
}

.footer-left li :hover {
    color: white;
    text-decoration: underline;
}

.footer-left li:after {
    padding-left: 6px;
    padding-right: 6px;
    content: "•";
}

.footer-left li:last-child:after {
    content: "";
    padding-right: 0px;
}

@media only screen and (max-width: 415px) {
    .header-info {
        float: none;
        margin-left: 190px;
    }
    .left-logo {
        margin-bottom: 10px;
    }
    .footer {
        font-size: 7px;
    }
    .footer-right {
        font-size: 7px;
        margin-left: 70px;
    }
    .navigation-bar {
        overflow: hidden;
        background-image: url('../images/tab-top-medium.png');
        background-position: center
    }
    .top-nav-li {
        font-size: 12px;
    }
    .bottom-nav-li-bot {
        font-size: 10px;
    }
    .bottom-nav-li a {
        font-size: 9px;
    }
    .header-notification li {
        font-size: 11px;
    }
    .right-navigation {
        display: none;
        width: 0px;
    }
    .main-content {
        width: 160%;
        float: none;
        margin-left: 0px;
    }
    .main-container2 {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .content-header a {
        line-height: 10px;
    }
    .bottom-nav-ul-bot li {
        margin-right: 0px;
        line-height: 16px;
        font-size: 9px;
    }
    .left-container {
        float: none;
    }
    .tab-li1 {
        font-size: 12px;
        width: 50%;
        margin-left: 50px;
        line-height: 18px;
    }
    .tab-li2 {
        font-size: 12px;
        width: 50%;
        margin-left: 50px;
        line-height: 18px;
    }
    .bottom-li1 {
        line-height: 25px;
        margin-left: 10px;
        padding-left: 15px;
    }
    .bottom-li2 {
        line-height: 25px;
        padding-left: 45px;
    }
    .bottom-li3 {
        line-height: 25px;
        padding-left: 58px;
    }
    .bottom-li4 {
        line-height: 25px;
        padding-left: 32px;
    }
}

@media only screen and (max-width: 361px) {
    .main-header {
        width: 22.5em;
    }
    .main-container2 {
        width: 22.5em;
    }
    .wrapper-sub-header {
        width: 22.5em;
    }
    .header-info {
        float: right;
        width: 40.385%;
    }
    .input-search {
        width: 149.402%;
    }
    .main-content {
        padding-left: 10px;
        padding-right: 0px;
    }
    .navigation-bar {
        overflow: hidden;
        background-image: url('../images/tab-top-small.png');
        background-position: center;
    }
    .header-notification {
        width: 91%;
    }
    .main-content {
        width: 134%;
    }
    .description {
        float: none;
        padding-left: 80px;
    }
    .left-container {
        width: 67.22%;
    }
    .footer-right {
        font-size: 7px;
        margin-left: 30px;
    }
    .bottom-li1 {
        line-height: 25px;
        margin-left: 5px;
        padding-left: 15px;
    }
    .bottom-nav-ul {
        width: 95%;
    }
    .bottom-nav-li a {
        font-size: 10px;
    }
    .bottom-nav-li {
        margin-right: 15px;
    }
    .bottom-nav-li {
        font-size: 14px;
    }
    .bottom-li2 {
        line-height: 25px;
        padding-left: 35px;
    }
    .bottom-li3 {
        line-height: 25px;
        padding-left: 43px;
    }
    .bottom-li4 {
        line-height: 25px;
        padding-left: 18px;
    }
    .footer {
        font-size: 10px;
    }
    .footer-right {
        font-size: 12px;
        margin-left: 138px;
        margin-top: 90px;
    }
    .footer-left {
        margin-bottom: 14px;
    }
}