body {
    background-color: #424242
}

.canvas {
    background: #000;
    display: inline;
    margin: 0;
    width: 750px;
    height: 700px;
 
}

.button {
    background-color: #10f1ae;
    color: black;
    border: 2px solid #fff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 1250px;
    border-radius: 8px;
    position: fixed;
}
.game-info{
    margin-top:720px;
    margin-left:500px;
}

.score {
    margin-top: 100px;
    background-color: #424242;
    border: 3px dotted rgb(35, 195, 243);
    color: white
}

.high-score {
    margin-top: 200px;
    background-color: #424242;
    border: 3px dotted rgb(35, 195, 243);
    color: white
}

.reset:hover {
    background-color: #424242;
    color: white;
}